table
  width: 100%;
  border-collapse: collapse;  
  thead
    th
      border-bottom 2px solid #D95A58
      color #D95A58
    .id
      width 50px
    .status
      width 100px
    .edit
      width 60px
  tbody
    tr
      td,th
        line-height 40px
        border-bottom 1px solid #eee
      .status, .edit
        text-align center
      .status .label
        display inline-block
        margin 0 auto
        padding 0 10px
        font-size 14px
        border-radius 5px
        height 25px
        line-height 25px
        background #D95A58
        color #fff
      .edit
        button
          font-size 12px
          border none
          border-radius 5px
          line-height 20px
          padding 0 4px
          background #ddd
          color #fff
          cursor pointer

.addTask
  margin-top 30px
  h2
    font-size 16px
    margin-bottom 10px
  form
    display flex
    justify-content space-between
    width 100%
    input
      border 1px solid #ddd
      border-width 1px 0 1px 1px
      outline none
      font-size 14px
      line-height 40px
      padding 0 10px
      border-radius 5px 0 0 5px
      flex-grow 1
    button
      font-size 14px
      border none
      border-radius 0 5px 5px 0
      line-height 40px
      padding 0 20px
      background #D95A58
      border 1px solid #D95A58
      border-width 1px 1px 1px 0
      color #fff
      cursor pointer