.sort
  margin 56px 0 24px 0

.addTask
  margin-top 24px

.resetButton
  font-size 12px
  margin-top 5px
  color #999
  i
    margin-left 3px
    color #bbb
  &.hidden
    display none
  &:hover
    cursor pointer